* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
}
.list-item a {
    text-decoration: none;
    color: #1B1A1A;
    font-weight: 400;
    font-size: 15px;
}
.list-item a:hover {
    color: #5f5757;
    transition: 0.5s;
}
.nav-button {
    padding: 11px 20px;
    background-color: #1B1A1A;
    border-radius: 14px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.nav-button:hover {
    background-color: #373232;
    transition: 0.5s;
}
header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 720px;
    background-color: #ECE7E4;

}
.header-left {
    margin-top: 137px;
}
.header-left h2 {
    color: #645C55;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.header-left h1 {
    margin-top: 20px;
    font-size: 64px;
    font-weight: 400;
    color: #1B1A1A;
    line-height: 70.4px;
    letter-spacing: 0%;
    width: 417px;
    height: 212px;

}
.header-left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    width: 509px;
    height: 120px;
    margin-top: 19px;
    margin-bottom: 30px;
}
.header-left a {
    color: #1B1A1A;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}
.header-left a:hover {
    color: #5f5757;
    transition: 0.5s;
}
.firm {
    display: flex;
    gap: 132px;
    justify-content: center;
    margin-top: 96px;
}
.paragraphs {
    width: 501.328125px;
    height: 582px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.paragraphs p {
    color: #403E3B;
    line-height: 24px;
    font-size: 16px;

}
.man {
    display: flex;
    gap: 30px;
    align-items: center;
}
.firm h2 {
    color: #403E3B;
    font-weight: 400;
    font-size: 32px;

}
.frame {
    margin-top: 100px;
    position: relative;
}
.content {
    position: absolute;
    left: 1080px;
    top: 250px;
}
.content h2 {
    font-size: 36px;
    font-weight: 400;
    color: #403E3B;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
}
.content h3 {
    color: #645C55;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 285px;
}
.process {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.process-boxes {
    display: flex;
    justify-content: center;
    gap: 22px;
}
.process-box {
    width: 378.65625px;
    height: 259px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.process-box img {
    margin-bottom: 15px;
    width: 117px;
    height: 102px;
}

.process h2 {
    color: #645C55;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.process h3 {
    color: #1B1A1A;
    font-size: 39px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 47px;
}
.process-box h3 {
    font-size: 18px;
    color: #403E3B;
    font-weight: 400;
    margin-bottom: 10px;

}
.process-box p {
    color: #645C55;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    width: 294px;
    height: 96px;
}
.footer-head {
    background-color: #CEC4BC;
    width: 1440px;
    height: 314px;
    display: flex;
    gap: 747px;
    align-items: center;
}
.footer-head h3 {
    font-weight: 400;
    font-size: 40px;
    width: 569px;
}
.footer-head a {
    color: #645C55;
    text-decoration: none;
}
.footer-right {
    margin-top: 100px;
}
.footer-bottom {
    background-color: #F7F7F7;

}
.footer-bottom .logo {
    margin-top: 62px;
    margin-bottom: 20px;
}
.footer-bottom h3 {
    color: #645C55;
    font-size: 14px;
    font-weight: 400;
}
.footer-bottom h4 {
    margin-bottom: 60px;
    color: #645C55;
    font-size: 14px;
    font-weight: 400;
}